{% extends 'base.html' %}

{% block maincontent  %}


    <div class="container my-2">
        <div class="row">
            <div class="col">
                <h1 class="p-2">Login</h1>
            </div>
        </div>
    </div>
    <div class="container my-5 ">
        <div class="row">
            <div class="col">
                <form method="POST">
                    <label class="text-primary" for="">Login Name:</label>
                    <input type="text" name="name" value="user7g" required>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>


{% endblock maincontent %}